:root {
    font-family: 'Open Sans', sans-serif;

    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);

}

h1, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--violet);
    color: white;
    margin: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
}

header {
    margin-bottom: 2.5rem;
    margin-top: 2rem;
    padding-left: 2rem;
    text-align: left;
}

header img {
    width: 100px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

#hero {
    width: 100%;
    margin-bottom: 2rem;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

button {
    background-color: white;
    color: var(--violet);
    border: none;
    border-radius: 30px;
    font-size: .875rem;
    padding: 0.8rem 0;
    width: 210px;
    cursor: pointer;
}

footer {
    margin-top: 4rem;
    padding-bottom: 2rem;
}

ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
}

li {
    border: 1px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

li i {
    color: white;
}

@media screen and (min-width: 768px) {
    
    
}